@import url(./normalize.css);
@import url(./fonts.css);

body {
  margin: 0;
  background-color: rgb(13, 7, 20);
  font-family: 'Inter';
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.content-cover {
  max-width: 583px;
  min-height: 758px;
  width: 100%;
  margin-top: 110px;
  background-color: rgb(29, 24, 37);
  border-radius: 20px;
  margin-bottom: 100px;
}

.form {
  margin-top: 46px;
  display: flex;
  align-items: center;
}

.button {
  width: 40px;
  height: 40px;
  padding: 0;
  background-image: url(./img/Vector.svg);
  background-color: rgb(158, 120, 207);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.input {
  max-width: 366px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgb(158, 120, 207);
  border-radius: 10px;
  margin-right: 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-left: 65px;
  padding-left: 15px;
  color: white;
  outline: none;
}

.input:focus {
  border-color: rgb(62, 22, 113);
}

.task__counter {
  font-size: 16px;
  color: white;
  font-weight: normal;
  margin-top: 60px;
  margin-bottom: 17px;
}

.incompleted-section {
  max-width: 432px;
  width: 100%;
  margin-left: 65px;
}

.completed-section {
  max-width: 432px;
  width: 100%;
  margin-left: 65px;
  margin-bottom: 55px;
}

.task-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  row-gap: 16px;
}

.task {
  position: relative;
  max-width: 432px;
  width: 100%;
  margin: 0 auto;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(21, 16, 28);
  border-radius: 10px;
}

.task-button {
  padding: 0;
  margin: 0;
}

.task__name {
  max-width: 300px;
  width: 100%;
  background-color: transparent;
  border: none;
  padding-left: 21px;
  color: white;
  text-overflow: ellipsis;
}

.task__name_type_completed {
  color: rgb(120, 207, 176);
  text-decoration: line-through;
}

.task__name:enabled {
  outline: 1px solid rgb(158, 120, 207);
  border-radius: 5px;
}

.task__complited {
  width: 30px;
  height: 30px;
  background-image: url(./img/Check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task__delete {
  width: 30px;
  height: 30px;
  background-image: url(./img/Delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task__wrapper {
  padding-right: 21px;
}

.task__edit {
  position: absolute;
  top: 70%;
  right: 10px;
  background-color: transparent;
  border: none;
  color: rgb(158, 120, 207);
  font-size: 10px;
  cursor: pointer;
}
